.photographers{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	justify-content: space-between;
	gap: 4rem;
	margin: 4rem 0;
}
.card{
	margin: auto;
	text-align: center;
}
.focus {
	display: inline-block;
	text-decoration: none;
	transition: transform 0.2s ease;
}
.focus:focus, .focus:hover{
	transform: scale(1.1);
	font-weight: bold;
	outline: 2px solid var(--primary); 
	outline-offset: 4px;
	cursor: pointer;
}
.name{
	font-size: 36px;
}
.tagline{
	font-size: 10px;
}
.name, .city{
	color: var(--secondary);
}
.price{
	color: var(--grey);
	font-size: 9px;
}
.portrait{
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1/1;
	margin: auto;
}