.photographers{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4rem 0;
	padding: 0 2rem;
	background-color: var(--background);
	border-radius: 5px;
	height: 313px;
}

.name{
	color: #c8452c;
	font-size: 64px;
}
.city{
	color: var(--primary);
	font-size: 24px;
}
.tagline{
	font-size: 18px;

}
.contact_me{
	background-color: var(--primary);
	color: var(--white);
	width: 170px;
	height: 69px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}

.contact_me:hover, .contact_me:focus{
	background-color: #db8876;
	color: var(--foreground);
}
.portrait{
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1/1;
}
.order_by{
	margin-bottom: 2rem;
}
.label_sort, .select, .options{
	font-size: 18px;
	font-weight: 700;
}

.order_by{
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.customSelect{
	border: none;
	position: relative;
}
.label_sort, .dropdown, .selected{
	font-size: 18px;
	font-weight: 700;
}
.label_sort{
	margin-right: 2rem;
}
.selected {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;
	height: 69px;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--primary);
	border: none;
	cursor: pointer;
	text-align: left;
	padding: 0 15px;
	z-index: 10;
}
.arrow{
	transition: transform 0.3s ease;
	text-align: right;
}
.open{
	transform: rotate(180deg);
}

.dropdown{
	position: absolute;
	top: 90%;
	left: 0;
	width: 170px;
	background-color: var(--primary);
	list-style: none;
	padding: 0;
	margin: 0;
	color: var(--white);
	border-radius: 5px;
	z-index: 9;
}
.dropdown li{
  border-bottom: 1px solid var(--white);
  padding: 15px; 
  cursor: pointer;
}

.dropdown li:last-child{
  border-bottom: none;
}

.dropdown li:hover{
  background-color: var(--secondary);
  border-radius: 5px;
}
.container_media{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	gap: 4rem;
	margin-bottom: 6rem;
}
.card{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	height: 351px;
	cursor: pointer;
}
.card .picture{
	border-radius: 5px;
	object-fit: cover;
	width: 350px;
	height: 300px;
}
.card:focus-visible{
	outline: 2px solid var(--primary);
	padding: 0.3rem;
}
.card .video{
	background-color: #c4c4c4;
	width: 350px;
	height: 300px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.card .video .icon{
	font-size: 50px;

}
.description{
	height: 51px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.description .title {
	border-radius: 5px;
	color: var(--primary);
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px;
}
