/* Composant Likes */
/* Like sous le média */
.likes_red{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.likes{
	color: var(--primary);
	font-weight: 500;
	font-size: 24px;
}
.btn_like{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	cursor: pointer;
	background: none;
	border: none;
}

/* ***************************************** */
/* Composant TotalLikes */
/* Container regroupant l'ensemble des likes */
.container_total_likes{
	position: fixed;
	bottom: 10px;
	right: 25px;
	font-weight: 500;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--secondary);
	height: 80px;
	border-radius: 5px;
	width: 370px;
}
.total_likes{
	display: flex;
	justify-content: center;
	align-items: center;
}
.total_likes p, .price{
	font-size: 24px;
	font-weight: 500;
}