.likes_red{
	display: flex;
	justify-content: space-between;
	align-items: center;

	
}
.likes{
	color: var(--primary);
	font-weight: 500;
	font-size: 24px;
}

/* **************** */

.container_total_likes{
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-weight: 500;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--secondary);
	height: 80px;
	border-radius: 5px;
	width: 370px;
}
.total_likes{
	display: flex;
	justify-content: center;
	align-items: center;
}
.total_likes p, .price{
	font-size: 24px;
	font-weight: 500;
}