@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000;
  --primary:#901c1c;
  --secondary: #D0472F;
  /* --secondary:#d3573c; */
  --grey: #525252;
  --white: white;
;
}                            

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
	background: var(--white);
	color: var(--foreground);
	font-family: var(--font-dm-sans);
	min-width: 1024px;
	margin: 0 4rem;

}

@layer base{
h1, h2, h3, h4, h5, h6, p{
	font-weight: 400;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--secondary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


}