@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000;
  --primary:#901c1c;
  --secondary:#d3573c;
  --grey: #525252;
  --white: white;
;
}                            

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
	background: var(--white);
	color: var(--foreground);
	font-family: var(--font-dm-sans);
	min-width: 1024px;
	margin: 0 4rem;

}

@layer base{
h1, h2, h3, h4, h5, h6, p{
	font-weight: 400;
}

/* h1{
	font-size: 64px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 10px;
}
h6{
	font-size: 9px;
}
p{
	font-size: 13px;
} */
}