
/* ********** SUPERPOSITION (fond de la modal) ********** */
.superposition{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4); 
	z-index: 1000;
}

/* ********** MODAL ********** */
.modal{
	position: relative;
	width: 700px;
	max-width: 90%;
	height: 100vh; 
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Bouton fermer */
.btn{
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 48px;
	color: var(--white);
	background: none;
	border: none;
	cursor: pointer;
	z-index: 10;
}

/* ********** FORMULAIRE ********** */
.container_formulaire{
	width: 100%;
	height: 95%;
	background-color: var(--secondary);
	border-radius: 5px;
	padding: 1rem 2rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}
.title{
	line-height: 1;
	font-size: 64px;
}
.title span{
	display: block;
	margin-bottom: 1rem;
}
.fields{
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto; 
}
.label{
	font-size: 30px;
	line-height: 1;
}
.input{
	width: 100%;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	background-color: var(--white);
	outline: none;
}

.input::placeholder{
	opacity: 0;
}
.input:focus::placeholder{
	opacity: 1;
}

.textarea{
	flex: 1;
	min-height: 150px;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	background-color: var(--white);
	width: 100%;
	outline: none;
}
.textarea::placeholder{
	opacity: 0;
}
.textarea:focus::placeholder{
	opacity: 1;
}
/* Bouton envoyer */
.send{
	background-color: var(--primary);
	color: var(--white);
	width: 170px;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}



