
.container_formulaire{
	width: 669px;
	height: 900px;
	background-color: var(--secondary);
	border-radius: 5px;
	padding: 1rem 2rem;
	margin: auto;
}
.input{
	background-color: var(--white);
	height: 68px;
	border-radius: 5px;
	width: 100%
}
.input::placeholder{
	opacity: 0;
	padding-left: 1rem;
	font-size: 22px;
	transition: opacity 0.2s ease;
}
.input:focus::placeholder{
	opacity: 1;
}
.textarea{
	height: 170px;
	background-color: var(--white);
	border-radius: 5px;
	width: 100%;
	font-size: 22px;
}
.textarea::placeholder{
	opacity: 0;
	transition: opacity 0.2s ease;
	padding-left: 1rem;
}
.textarea:focus::placeholder{
	opacity: 1;
}
.send{
	background-color: var(--primary);
	color: var(--white);
	width: 170px;
	height: 69px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
}
/* ****************** MODAL ******************* */
.superposition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); /* fond gris clair */
  z-index: 1000;
}
.modal {
  border-radius: 5px;
  height: 90%;
  overflow-y: auto;
}

.btn{
	position: fixed;
	top: 5rem;
  	right:30%;
	font-size: 64px;
	color: var(--white);
	z-index: 90;
}
