/* Fond de la modal */
.superposition{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background-color: var(--white);

}
.modal{
	border-radius: 5px;
	height: 90%;
	overflow-y: auto;
	position: relative;
}

/* carrousel des médias */
.container_view{
	width: 1258px;
	height: 100%;
	border: 2px solid #95fff9;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.container_medias{
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
}
.photo, .video{
	max-width: 1050px;
	max-height: 80vh;
	width: auto;
	height: auto;
	border-radius: 5px;
	object-fit: contain;
	display: block;
}
.media_title{
	font-size: 24px;
	color: var(--primary);
}

/* flèche avant */
.previous{
	position: absolute;
	top: 50%;
	left: 25px;
	color: var(--primary);
	font-size: 64px;
	transform: translateY(-50%);
	cursor: pointer;
}

/* flèche suivante */
.next{
	position: absolute;
	top: 50%;
	right: 30px;
	color: var(--primary);
	font-size: 64px;
	transform: translateY(-50%);
	cursor: pointer;
}
/* btn fermer la modale */
.btn{
	position: absolute;
	top: 2rem;
  	right:2rem;
	font-size:50px;
	color: var(--primary);
	z-index: 90;
	cursor: pointer;
}

/* loading sur les medias */
.spinnerOverlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.spinner{
	border: 8px solid #f3f3f3;
	border-top: 8px solid var(--secondary);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
