.container_view{
	width: 1258px;
	height: 100%;
	border: 2px solid #95fff9;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.photo, .video{
	width: 1050px;
	height: 90%;
	border-radius: 5px;
	object-fit: contain;
}
.previous{
	position: absolute;
	top: 50%;
	left: 25px;
	color: var(--primary);
	font-size: 64px;
	transform: translateY(-50%);
	cursor: pointer;
}
.next{
	position: absolute;
	top: 50%;
	right: 30px;
	color: var(--primary);
	font-size: 64px;
	transform: translateY(-50%);
	cursor: pointer;
}

/* ****************** MODAL ******************* */
.superposition{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: var(--white);

}
.modal{
  border-radius: 5px;
  height: 90%;
  overflow-y: auto;
position: relative;

}

.btn{
	position: absolute;
	top: 2rem;
  	right:2rem;
	font-size:50px;
	color: var(--primary);
	z-index: 90;
	cursor: pointer;
}
