.superposition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); /* fond gris clair */
  z-index: 1000;
}

.modal {
  border-radius: 5px;
  height: 90%;
  overflow-y: auto;
}

.btn{
	position: fixed;
	top: 5rem;
  	right:30%;
	font-size: 64px;
	color: var(--white);
	z-index: 90;
}
