.contact_me{
	background-color: var(--primary);
	color: var(--white);
	width: 170px;
	height: 69px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 5px;
}

.contact_me:hover{
	background-color: #db8876;
	color: var(--foreground);
}